* {
  margin: 0;
  border: none;
  padding: 0;
  background-color: transparent;
  color: inherit;
  text-decoration: none;
  box-sizing: border-box;
}
html {
  overflow: hidden;
}
body > main {
  scrollbar-width: none;
  scroll-snap-type: block mandatory;
  height: 100vh;
  overflow-x: hidden;
}
#main::-webkit-scrollbar {
  display: none;
}

body {
  font-size: 2vmin;
  font-family: -apple-system,Roboto, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(62, 121, 231);
/*background-color: rgb(44, 117, 255);*/
  color: rgba(0, 0, 0, 0.777);
}


h1 {
  font-size: 14em;
}
h2 {
  font-size: 4em;
  text-align: center;
  text-decoration: underline  rgba(0, 0, 0, 0.777);
  -webkit-text-stroke-width: 0.0125em;
  -webkit-text-stroke-color: white;
}

h3 {
  margin-top: 1em;
  font-size: 1.75em;
}

/*h3ti : titre de la section actualité */
h3ti {
  margin-top: 1em;
  font-size: 1.75em;
  text-decoration: underline overline;
}

h4 {
  font-size: 1em;
  text-align: center;
}

p {
  text-indent: 2em;
  font-size: 1.2em;
  margin-bottom: 0.75em;
}
q {
  font-weight: 500;
}

name {
  font-weight: bold;
}
.map-responsive {
  overflow: auto;
  min-height: 300px;
  max-width: 60em;
  height: 100%;
  width: 100%;
  margin-top:5px ;
  margin-bottom: 2px ;
}

.map-responsive iframe {

  height:100%;
  width:100%;
  position: static;
}


unl {
  font-weight: bolder;
  text-decoration: underline;
  
}
pargent {
  color: #999799 ;
}

pbronze {
  color : #945d41;
}

por {
  font-weight: bold;
  color : #efd807;
}

precords {
  color :#339989;
}
.imga {
  
  max-width: 100%;
  height: auto;
}

.imglogo {
  max-width: 10%;
  max-height: 20%;
}
.img_accueil {
  max-width: 95%;
  height: auto;
  border-radius: 10px;
  border: 1px solid #ddd;
  background-color: aliceblue;

  padding: 5px;
}

code {
  position: relative;
  display: inline-block;
  margin-top: 1em;
  padding: 0.2em 0.5em;
  background-color: #0002;
  border-radius: 0.7em;
}
code::before {
  font-size: 0.75em;
  position: absolute;
  top: -1em;
  content: attr(lang);
}
.button-container {
  margin: 1em;
}
/*bouton header nav */
.button {
  font-size: 1.1em;
  background: #05079e;
  color: rgb(255, 255, 255);
  padding: 0.5em 1em;
  border-radius: 0.25em;
  transition: background 0.3s;
  font-weight: bold ;
  margin-top: -1em;
}

.button:hover {
  background: #22427c;
}


header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: row-reverse;
  
  align-items: center;
  justify-content: space-around;
  font-size: 0.8em;
  padding: 2em 10em 0em 2.5em;
}

header > .VoidLogo {
  font-size: 2.5em;
}

nav.progress {
  position: fixed;
  right: 3em;
  top: 50%;
  transform: translate(0,-50%);
  max-height: 100vh;
}

canvas {
  display: block;
}

#canvas {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;

}


#section-main {
  display: flex;
  font-size: 1em;
}
#section-historical > main {
  align-items: flex-start; 
  max-width: 50em;
}
#section-actuality > main {
  max-width: 50em;
}

#\ section-result > main {
  max-width: 50em;
  
}
#\ section-activity > main {
  max-width: 50em;
}

#\ section-sportif > main {
  max-width: 50em;
}
/*
#section-Contact > main {
  max-width: 90em;
}
*/

/*PRELOAD*/
body #section-main-title,
body #section-main-subtitle {
  color : white;
  
  text-transform: uppercase;
  transform: scale(0.8);
  transition: 3s color ease-in,
              1s transform ease-out;
  -webkit-text-stroke-width: 0.0350em;
  -webkit-text-stroke-color: black;
  
}
/*static*/
body.load #section-main-title,
body.load #section-main-subtitle {
  transform: scale(1);
  color: white;
  

}
#section-main-title {
  padding: 0;
  font-weight: 600;
  font-size: 4.2em;
  
}
#section-main-subtitle {
  letter-spacing: 0.25em;
  margin-bottom: 1em;
  font-size: 2.3em;
}
body.load #section-main-subtitle {
  transition-delay: 1s;
}

section {
  min-height: 100vh;
  padding: 4.2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-snap-align: start;
}

section > main {
  padding: 1em;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#section-result > main {
  flex-direction: row;;
}
#section-sportif > main {
  flex-direction: row;;
}
#section-Contact > main{
  flex-direction: row;;
}

.card {
  margin: 1em;
  padding: 1em;
  border-radius: 1em;
  font-size: 1em;
  text-align: justify;
  background-color: #ffffff;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  display: flex;
  
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.cardResult {
  width : 19em;
  margin: 1.5em;
  padding: 1em;
  border-radius: 0.5em;
  font-size: 1em;
  text-align: left;
  
  background-color: rgb(255, 255, 255);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: start;
}

.card_contact {
  width :auto;
  margin: 1.5em;
  padding: 1em;
  border-radius: 0.5em;
  font-size: 1em;
  text-align: left;

  background-color: rgb(255, 255, 255);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: start;
}

.card p {
  font-size: 1.2em;
  text-indent: 1em;
}
.roundImage {
  width: 15em;
  height: 15em;
  border-radius: 10em;
  overflow: hidden;
  /* box-shadow: 0 0 20px rgba(0,0,0,0.19), 0 0 6px rgba(0,0,0,0.23); */
}

.roundImage img {
  width: 100%;
}

.role {
  width: 100%;
  text-align: center;
  font-size: 1.1em;
  background: #318ce7;
  color: #ffff00;
  padding: 0.5em 1em;
  border-radius: 0.25em;
}

i.VoidLogo::before {
  content: "null";
  font-size: 1.2em;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 800;
}

li{
  margin-left: 1em;
  margin-top:0.5em;
  margin-bottom: 0.5em;
}

gr {
  font-weight: bold ;
  color: red;
}
