# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.site_club.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\brutu\Documents\club\site_club\.idea\.idea.site_club.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
